.group-container {
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  width: 326px;
  height: fit-content;
}

.badge {
  width: 88px;
  height: 24px;
  box-sizing: border-box;
}

.badge-text {
  font-weight: 400;
  font-size: 12px;
  margin: 2px 8px;
}

.month {
  font-size: 12px;
  font-weight: 600;
}

.task-1 {
  border-radius: 4px;
  border: 1px solid #01959f;
  background-color: #F7FEFF;
}

.task-2 {
  border-radius: 4px;
  border: 1px solid #FEEABC;
  background-color: #FFFCF5;
}

.task-3 {
  border-radius: 4px;
  border: 1px solid #F5B1B7;
  background-color: #FFFAFA;
}

.task-4 {
  border-radius: 4px;
  border: 1px solid #B8DBCA;
  background-color: #F8FBF9;
}