.group-container {
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  width: 326px;
  height: fit-content;
}

.task-1 {
  border-radius: 4px;
  border: 2px solid #01959f;
  background-color: #f7feff;
}

.task-2 {
  border-radius: 4px;
  border: 2px solid #feeabc;
  background-color: #fffcf5;
}

.task-3 {
  border-radius: 4px;
  border: 2px solid #f5b1b7;
  background-color: #fffafa;
}

.task-4 {
  border-radius: 4px;
  border: 2px solid #b8dbca;
  background-color: #f8fbf9;
}

.badge {
  width: 90px;
  height: 24px;
  box-sizing: border-box;
}

.badge-text {
  font-weight: 400;
  font-size: 12px;
  margin: 2px 8px;
}

.text-1 {
  color: #01959F;
}

.text-2 {
  color: #FA9810;
}

.text-3 {
  color: #E11428;
}

.text-4 {
  color: #43936C;
}

.month {
  font-size: 12px;
  font-weight: 600;
  margin: 8px 0;
}

.btn-task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 78px;
  height: 20px;
  margin-top: 8px;
  border-radius: 4px;
}

.btn-task:hover {
  cursor: pointer;
}

.btn-text {
  font-weight: 400;
  font-size: 12px;
}
