html,
body {
	margin:0;
	padding:0;
	height:100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;
}

/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */