.dropdown {
  position: relative;
  left: 30px;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  width: 240px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item:hover {
  cursor: pointer;
  color: #01959F;
}

.menu-delete:hover {
  color: #E11428;
}

.menu > li {
  width: 80%;
  margin-left: 10px;
  background-color: white;
  padding: 8px 16px;
}

.menu > li > p {
  background-color: #ffffff;
  border: none;
  padding: 5px;
  font: inherit;
  margin-left: 8px;
}
